<!-- ======= Navigation ======= -->
<nav class="navi">
  <ul class="vertical menu navi__list">
    <li class="navi__item">
      <a class="navi__link" href="#">О нас</a>
    </li>
    <li class="navi__item">
      <a class="navi__link" href="#">Опять о нас</a>
    </li>
    <li class="navi__item">
      <a class="navi__link" href="#">Снова о нас</a>
    </li>
    <li class="navi__item">
      <a class="navi__link" href="#">Четвертый раз о нас</a>
    </li>
  </ul>
</nav><!-- ======= End Navigation ======= -->