/* =======
   LAYOUTS
   ======= */
$pageWidth: 1920px;

body {
  //background-color: scale-color($bg-color, $lightness:-20%);
  overflow-x: hidden;
  height: auto;
  background-image: none;
  min-height: 100%;
}

a {
  color: $brand-color;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: $brand-color;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

.page {
  max-width: $pageWidth;
  margin: 0 auto;

  &__container {
    @include xy-grid-container;
  }

  &__content-container {
    @include xy-grid-container(
      $padding: 0
    );
  }

  &__header {
    @include position(
      $position: absolute,
      $top: 0,
      $right: 0,
      $left: 0,
    );
    z-index: 997;
    width: 100%;
  }
}