/* ==========
   NAVIGATION
   ========== */
.nav {
  height: 100%;
  padding: 20px 0;
  transition: all 300ms ease-in-out;

  &__list {
    margin-top: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

  &__item {
    padding: 18px 0;
    border-bottom: 1px solid $text-color-secondary;
    color: $text-color-primary;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__link {
    @include font-bold(
      $weight:600
    );
    font-size: rem-calc(18px);
    color: $text-color-primary;

    &:hover {
      color: $medium-gray;
    }
  }
}