/* =======
   TOP BAR
   ======= */
.top-bar {
	background: none;

	&__icon-hamburger {
		@include breakpoint(small) {
			@include xy-cell(3);
		}
		@include breakpoint(medium) {
			@include xy-cell(2);
		}
		@include breakpoint(large, xlarge up) {
			@include xy-cell(3);
		}
	}

	&__contact-phone {
		@include xy-grid;
		@include breakpoint(small) {
			@include xy-cell(9);
			@include flex-align(
				$x: right,
				$y: middle
			);
		}
		@include breakpoint(medium) {
			@include xy-cell(6);
			@include flex-align(
				$x: center,
				$y: middle
			);
		}
		@include breakpoint(large, xlarge up) {
			@include xy-cell(9);
			@include flex-align(
				$x: right,
				$y: middle
			);
		}
	}

	&__button-back-call {
		@include xy-grid;
		@include breakpoint(small) {
			@include xy-cell(12);
			@include flex-align(
				$x: center,
				$y: middle
			);
			@include margin(2, null, null, null);
		}
		@include breakpoint(medium) {
			@include xy-cell(4);
			@include flex-align(
				$x: right,
				$y: middle
			);
			@include margin(0, null, null, null);
		}
		@include breakpoint(large, xlarge up) {
			@include xy-cell(3);
		}
	}
} 