//* --------------
//  button-primary
//  -------------- */
.button-primary {
  @include font-bold($weight:600);
  @include button-style(
    $background: $brand-color,
    $background-hover: $brand-color-light,
    $color: $text-color-primary
  );

  &:hover {
    filter:drop-shadow(0.15rem 0.15rem 0.6rem $brand-color),
  }
}