<!-- ======= Hero Section ======= -->
<section id="hero" class="hero hero-full-screen">
  <div class="hero__offer hero-full-screen__offer">
    <div class="offer">
      <h2 class="offer__title">Доверие & профессионализм</h2>
      <p class="offer__desc">Решите свою проблему не выходя из дома!</p>
      <div class="hero__button-back-call" data-open="popupBackCall">
        {{> button-back-call}}
      </div>
    </div>
  </div>
  <div class="hero__services">
    {{> icon-service}}
  </div>
</section><!-- End Hero Section -->


