/* ==================
   TABLE SERVICE ITEM
   ================== */
$table-expand-bottom-gap: 1.5rem;
$table-expand-border: 2px solid $brand-color;
$table-expand-stack-point: 640px;
$table-expand-label-bg: $light-gray;

.table-expand {
  border-collapse: collapse;
  margin-top: 3rem;
  margin-bottom: 5rem;

  &.unstriped tbody {
    background-color: transparent;
  }

  th {
    background-color: $table-expand-label-bg;
    text-align: center;
  }

  tr,
  th,
  td {
    border: $table-expand-border;
    padding: 0.3rem 0.425rem 0.425rem;
  }

  @media screen and (max-width: $table-expand-stack-point) {
    thead tr {
      position: absolute;
      top: -9999em;
      left: -9999em;
    }

    tr {
      border: $table-expand-border;
      display: block;
    }

    tr + tr {
      margin-top: $table-expand-bottom-gap;
    }

    td {
      border: none;
      @include xy-grid;
      justify-content: flex-start;
      align-items: center;
      border-bottom: $table-expand-border;
      padding-left: 50%;
      position: relative;
      font-size: rem-calc(12px);

      &:before {
        content: attr(data-label);
        display: inline-block;
        font-weight: bold;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%;
        position: relative;
        z-index: 1;
      }

      &:after {
        content: '';
        position: absolute;
        background: $table-expand-label-bg;
        width: 45%;
        height: 95%;
        left: 1px;
        top: 1px;
        z-index: 0;
      }
    }
  }
}