/* ============
   HERO SECTION
   ============ */
.hero {
	@include xy-grid;
  background: url(../img/bg/bg-image-1.jpg) center center;
  background-size: cover;
	position: relative;

  &:before {
    position: absolute;
  	content: "";
  	background: linear-gradient(
  		to left,
  		rgba(39, 20, 46, 0.7) 0.3,
  		rgba(16, 16, 16, 0.7) 0.8,
  	);
  	inset: 0;
  	display: block;    
		width: 100%;
		height: 100%;
   }

  &__offer {
   	@include xy-grid-container;
   	@include xy-grid;
   	@include margin(5, null, null, null);
   	z-index: 5;
   }

	&__services {
		@include xy-grid-container;
    @include xy-grid;
    @include flex-align(
    	$x: center
    );
    @include position(
   		$position: absolute,
   		$top: 28,
   		$right: 0,
   		$left: 0,
   	);
   	z-index: 7;
	}
}

.hero-full-screen {
	height: 100vh;
	@include xy-grid;
  justify-content: space-between;
  background: url(../img/bg/bg-image-1.jpg) top center;
  background-size: cover;

  &:before {
    position: absolute;
  	content: "";
  	background: linear-gradient(
  		to left bottom,
  		rgba(39, 20, 46, 0.7) 0.3,
  		rgba(16, 16, 16, 0.7) 0.8,
  	);
  	inset: 0;
  }

  &__offer {
  	@include margin(11, null, null, null);
  }
}

.offer {
	text-align: center;

	&__title {
		@include breakpoint(small) {
			font-size: rem-calc(28);
		}
		@include breakpoint(medium) {
			font-size: rem-calc(40);
		}
		@include breakpoint(large, xlarge up) {
			font-size: rem-calc(60);
		}
		@include font-bold(
			$weight: 800
		);
		color: $text-color-primary;
	}

	&__desc {
		@include breakpoint(small) {
			font-size: rem-calc(14);
		}
		@include breakpoint(medium) {
			font-size: rem-calc(18);
		}
		@include breakpoint(large, xlarge up) {
			font-size: rem-calc(22);
		}
		padding-top: 35px;
		@include font-bold(
			$weight: 600
		);
		@include font-italic;
		color: $text-color-secondary;
	}
}