<!-- ======= Button Back Call ======= -->
<button type="button" class="button button-primary button-back-call">Заказать звонок
	<svg class="button-back-call__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
		<path d="M10.2429 1.00005L2.0744 11" stroke="#F9FAFB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
		<path d="M1.9054 1.94473L10.2429 1.00005L11.7733 8.3887" stroke="#F9FAFB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
</button><!-- ======= End Button Back Call ======= -->