//* --------------
//  icon-hamburger
//  -------------- */
.icon-hamburger {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 41px;
  height: 22px;
  cursor: pointer;
  stroke: $brand-color;
  stroke-width: 2px;

  &:hover,
  &:focus {
    stroke: $brand-color-lighter;
    filter: drop-shadow(0.15rem 0.15rem 0.6rem $brand-color);
  }
}