<!doctype html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for My Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
<body class="page">

  <!-- ======= Page Off-canvas wrap ======= -->
  <div class="page__off-canvas">

    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      {{> button-close}}
      {{> nav}}
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="page__header">
        {{> header}}
      </div>
      {{> body}}
    </div>

  </div><!-- ======= End Page Off-canvas wrapp ======= -->

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>